
._megaMenu {
    position: static;
    .dropdown-menu {
        width: 100%;

        
        background-color: white;
    }
}

.container {
    background-color: tomato;
}

.dropdown.item {
    background-color: transparent;
}


@each $colorName, $colorValue in $colorList {
    .navbar.bg-#{$colorName} {
        .megaMenu {
            .dropdown-menu {
                background-color: #{$colorValue};

            }
        }
    }  
}