
.jumbotron{
    background-color: tomato;
    padding: 30px;
    margin-bottom: 0;
    border-radius: 0px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

p.display-4 {
    color: white;
    font-weight: bold;
    align-self: center;
}
.form-control-space {
    align-self: center;
}

.form-control{
  background-color: rgb(238, 43, 43);
}

input::placeholder {
    color: red;
  }

form-control:active {
    color: teal;
}

.btn.btn-light {
    background-color: tomato;
    color: white;
    font-weight: bold;
    border: none;
}
.button-space {
    align-self: center;
}

.underline{
    margin-top: 0;
    padding: 0;
}
.my-4 {
    background-color: ivory;
    padding: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


/*Menyy nupud*/
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    padding-right: 30px;
}
#navbarDropdown:focus {
    background-color: white;
}

/*Annab navbarile värvi, ei toimi scss faili lisades*/
.bg-light {
    background-color: tomato!important;
}

._megaMenu {
    position: static;
}
.dropdown-menu {
    width: 100%;
    margin-top: 0;
    border: 0;
    border-radius: 0px; 
}
#item-bolder {
    color: black;
    background-color: transparent;
    display: block;
    margin: 20px;
    font-weight: bold;
}
#item {
    color: black;
    background-color: transparent;
    display: block;
    margin: 20px;
    font-weight: lighter;
}

#item:hover {
    color: tomato;
    text-decoration-line: none;
}
.col {
    padding-right: 30px;
}



/*Nupp "Event calendar"*/
.btn-lg {
    color: white;
    background-color: tomato;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 45px;
    padding-right: 45px;
    font-weight: bold;
    margin-top: 50px;
}
.btn-lg:hover {
    background-color: rgb(216, 63, 36);
}

/*What's on alamenyy disain*/
#headline {
    color: tomato;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 32px;
}
#headline_invisable {
    color: white;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 32px;
}
/*What's on alamenyy piltide pealkirjad*/
.dropdown-item {
    display: inline-flexbox;
}

/*Taustavideo disain*/
#hero {
    position: relative;
}

#hero video {
    height: 100vh;
    width: 100%;
    background-position: absolute;
    z-index: 10;
    object-fit: cover;

}

#hero .content {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
}

#hero .content h1 {
    color: white;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -.0375em;
    font-family: Futura-Bold,Arial,Helvetica,sans-serif;
}



#hero .content p {
    color: white;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -.0075em;
    font-family: Futura-Book,Arial,Helvetica,sans-serif;
}

#btn {
  background-color: tomato;
  color: white;
  margin-top: 50px;
  display: block!important;
  align-self: left;
}







